.App {
  text-align: center;
}

.Navbar {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.Dashboard {
    background-color: lightgreen;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
}

.choice {
    text-align: left;
    padding-left: 30px;
}

.Card {
    background-color: lightgreen;
    width: 20%;
    margin: 10px;
}

.card-container {
    display: flex;
}



